/**
 * @name systemcinnamoroll (hello kitty)
 * @description a tui-style hello kitty theme
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/OPER4ND/systemcinnamoroll
 * @source https://github.com/OPER4ND/systemcinnamoroll/blob/main/theme/flavors/systemcinnamoroll-hello-kitty.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

@import url('https://oper4nd.github.io/systemcinnamoroll/build/systemcinnamoroll.css');

body {
    --character-image: url('https://raw.githubusercontent.com/OPER4ND/systemcinnamoroll/main/assets/hellokitty.jpeg'); /* change this one line to use your own image */
    --loader-art:
        "                                    ___\A                                   (   )\A    .--.     ___  ___      .--.     | |_       .--.    ___ .-. .-.\A  /  _  \\   (   )(   )   /  _  \\   (   __)    /    \\  (   )   '   \\\A . .' `. ;   | |  | |   . .' `. ;   | |      |  .-. ;  |  .-.  .-. ;\A | '   | |   | |  | |   | '   | |   | | ___  |  | | |  | |  | |  | |\A _\\_`.(___)  | '  | |   _\\_`.(___)  | |(   ) |  |/  |  | |  | |  | |\A(   ). '.    '  `-' |  (   ). '.    | | | |  |  ' _.'  | |  | |  | |\A | |  `\\ |    `.__. |   | |  `\\ |   | ' | |  |  .'.-.  | |  | |  | |\A ; '._,' '    ___ | |   ; '._,' '   ' `-' ;  '  `-' /  | |  | |  | |\A  '.___.'    (   )' |    '.___.'     `.__.    `.__.'  (___)(___)(___)\A              ; `-' '\A               .__.'";
}

:root {
    --text-0: hsl(237deg 17% 24%);
    --text-1: hsl(237deg 15% 29%);
    --text-2: hsl(237deg 13% 38%);
    --text-3: hsl(237deg 10% 46%);
    --text-4: hsl(237deg 8% 56%);
    --text-5: hsl(237deg 7% 64%);

    --bg-1: hsl(240deg 30% 92%);
    --bg-2: hsl(240deg 35% 95%);
    --bg-3: hsl(240deg 40% 98%);
    --bg-4: #fafaff;
    --hover: hsl(237deg 34% 79% / 0.18);
    --active: hsl(237deg 29% 71% / 0.28);
    --active-2: hsl(237deg 24% 64% / 0.36);
    --message-hover: hsl(237deg 35% 80% / 0.14);

    --accent-1: hsl(237deg 30% 56%);
    --accent-2: hsl(237deg 34% 84%);
    --accent-3: hsl(237deg 28% 77%);
    --accent-4: hsl(237deg 24% 69%);
    --accent-5: hsl(237deg 20% 62%);
    --accent-new: hsl(350deg 70% 78%);

    --online: hsl(152deg 36% 70%);
    --dnd: hsl(350deg 69% 79%);
    --idle: hsl(42deg 67% 77%);
    --streaming: hsl(258deg 31% 76%);
    --offline: hsl(237deg 8% 62%);

    --border-light: hsl(237deg 21% 80% / 0.24);
    --border: hsl(237deg 19% 70% / 0.32);
    --button-border: hsl(237deg 18% 69% / 0.28);
}
