/**
 * @name systemcinnamoroll (keroppi)
 * @description a tui-style keroppi theme
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/OPER4ND/systemcinnamoroll
 * @source https://github.com/OPER4ND/systemcinnamoroll/blob/main/theme/flavors/systemcinnamoroll-keroppi.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

@import url('https://oper4nd.github.io/systemcinnamoroll/build/systemcinnamoroll.css');

body {
    --character-image: url('https://raw.githubusercontent.com/OPER4ND/systemcinnamoroll/main/assets/cinnamoroll.jpg'); /* change this one line to use your own image */
}

:root {
    --text-0: hsl(145deg 18% 22%);
    --text-1: hsl(145deg 16% 27%);
    --text-2: hsl(145deg 14% 36%);
    --text-3: hsl(145deg 12% 44%);
    --text-4: hsl(145deg 10% 54%);
    --text-5: hsl(145deg 8% 62%);

    --bg-1: hsl(145deg 34% 86%);
    --bg-2: hsl(145deg 42% 90%);
    --bg-3: hsl(145deg 49% 94%);
    --bg-4: hsl(145deg 56% 97%);
    --hover: hsl(145deg 33% 71% / 0.2);
    --active: hsl(145deg 31% 64% / 0.3);
    --active-2: hsl(145deg 28% 57% / 0.4);
    --message-hover: hsl(145deg 35% 68% / 0.16);

    --accent-1: hsl(145deg 28% 46%);
    --accent-2: #b7e4c7;
    --accent-3: hsl(145deg 35% 72%);
    --accent-4: hsl(145deg 31% 64%);
    --accent-5: hsl(145deg 27% 57%);
    --accent-new: hsl(17deg 58% 78%);

    --online: hsl(149deg 37% 66%);
    --dnd: hsl(3deg 57% 77%);
    --idle: hsl(42deg 67% 77%);
    --streaming: hsl(245deg 26% 74%);
    --offline: hsl(145deg 9% 59%);

    --border-light: hsl(145deg 24% 74% / 0.26);
    --border: hsl(145deg 21% 65% / 0.34);
    --button-border: hsl(145deg 20% 63% / 0.3);
}
