/**
 * @name systemcinnamoroll (kuromi)
 * @description a tui-style kuromi theme
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/OPER4ND/systemcinnamoroll
 * @source https://github.com/OPER4ND/systemcinnamoroll/blob/main/theme/flavors/systemcinnamoroll-kuromi.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

@import url('https://oper4nd.github.io/systemcinnamoroll/build/systemcinnamoroll.css');

body {
    --character-image: url('https://raw.githubusercontent.com/OPER4ND/systemcinnamoroll/main/assets/kuromi.jpg'); /* change this one line to use your own image */
    --loader-art:
        '  ______________.___. _______________________________   _____   \A /   _____/\\__  |   |/   _____/\\__    ___/\\_   _____/  /     \\  \A \\_____  \\  /   |   |\\_____  \\   |    |    |    __)_  /  \\ /  \\ \A /        \\ \\____   |/        \\  |    |    |        \\/    Y    \\\A/_______  / / ______/_______  /  |____|   /_______  /\\____|__  /\A        \\/  \\/              \\/                    \\/         \\/ \A ____  __.____ _____________ ________      _____  .___\A|    |/ _|    |   \\______   \\\\_____  \\    /     \\ |   |\A|      < |    |   /|       _/ /   |   \\  /  \\ /  \\|   |\A|    |  \\|    |  / |    |   \\/    |    \\/    Y    \\   |\A|____|__ \\______/  |____|_  /\\_______  /\\____|__  /___|\A        \\/                \\/         \\/         \\/';
}

:root {
    --text-0: hsl(277deg 18% 23%);
    --text-1: hsl(278deg 16% 28%);
    --text-2: hsl(279deg 14% 37%);
    --text-3: hsl(279deg 12% 45%);
    --text-4: hsl(280deg 10% 55%);
    --text-5: hsl(281deg 9% 63%);

    --bg-1: hsl(280deg 37% 87%);
    --bg-2: hsl(280deg 43% 91%);
    --bg-3: hsl(281deg 48% 95%);
    --bg-4: hsl(282deg 52% 97%);
    --hover: hsl(280deg 28% 72% / 0.2);
    --active: hsl(279deg 30% 66% / 0.3);
    --active-2: hsl(279deg 28% 60% / 0.4);
    --message-hover: hsl(279deg 30% 70% / 0.16);

    --accent-1: hsl(279deg 28% 50%);
    --accent-2: #cdb4db;
    --accent-3: hsl(279deg 31% 74%);
    --accent-4: hsl(279deg 26% 67%);
    --accent-5: hsl(279deg 22% 60%);
    --accent-new: hsl(327deg 49% 79%);

    --online: hsl(152deg 36% 70%);
    --dnd: hsl(327deg 52% 80%);
    --idle: hsl(42deg 67% 77%);
    --streaming: hsl(279deg 28% 70%);
    --offline: hsl(280deg 10% 61%);

    --border-light: hsl(280deg 27% 74% / 0.26);
    --border: hsl(279deg 23% 66% / 0.34);
    --button-border: hsl(280deg 22% 65% / 0.3);
}
